# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/

# Django
*.pot
*.mo
*.log
*.py[cod]
db.sqlite3
media/
staticfiles/

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# MySQL dump or local database backups
*.sql